# CSE 5243 - Introduction to Data Mining
## Homework 5: Association Analysis
- Semester: Autumn 2023
- Instructor: Stanley Vernier
- Section: Mon/Wed, 11:10 am - 12:30 pm  
- Student Name: NYJA GOWDA
- Student Email: gowda.32@osu.edu
- Student ID: 500480083

Template Version V1.
***

# Introduction

### Objectives

In this lab, we will use the Instacart Market Basket Analysis dataset (see: https://www.kaggle.com/datasets/psparks/instacart-market-basket-analysis). However, we will use the data to solve a different (completely nonsense) problem.  The dataset CSV files are provided on Carmen.  They are:
- aisles.csv
- departments.csv
- products.csv
- order_products__train_**teb_subset**.csv  (This is a small'ish subset of the full Instacart transaction dataset. If you are brave, have free time on your hands and have a relatively powerful computer, you can try the full dataset, available at the URL listed above.  This is not necessary, though, and be sure to hand in the answers resulting from the smaller dataset.)

The objectives of this assignment are:
- Practice the Association Analysis content we covered this semester.
- Understand “why” the particular topics, techniques, etc., are important from a practical perspective.
- Understand how to choose and use appropriate tools to solve the provided problems.

### Dataset Notes
- The "order_products_..." data file captures the data in "long format". Specifically, every row corresponds to the transaction id and the item. If the specific transaction id has multiple items, there will be multiple rows in the data.
- You can process the data however you like, but it is recommended you convert into a one-hot-encoded data structure. This will allow you to easily use the mlxtend package.

## The Business Problem
- Assume the provided dataset contains all of the transactions for one month for our store (Trader Buck's).  We wish to find association rules that will improve our revenue as follows:
  - Each month, we will choose a particular **"Aisle of the Month"**. We will discount all products in that aisle by 10% each month, with the hope that this will encourage customers to visit our store to purchase those products 5% more frequently, and also purchase other products in other aisles (that are not discounted) more frequently.
  - For simplicity, assume the normal price of all products is $1.00 (a bargain!)
- Practically speaking, we want to come up with **two-item** rules (one antecedent and one consequent: (A -> B)) and choose the ones that best add to our revenues  (based on the rule support, confidence, etc.).

### Proper Answers
- **IMPORTANT:** **Show your work** and **explain it**.  This will help us give partial credit in some cases.

### Collaboration
For this assignment, you must work as an individual. You may informally discuss ideas with classmates, but your work must be your own.

### What You Need to Turn In
- Submit this Jupyter Notebook in .IPYNB format.  Do not "zip" the file.

### Notes
- Feel free to use the **mlxtend** package throughout this assignment.
- If a question asks you to "calculate" the number of "all possible rules", etc., explain the calculation by showing the "formula" you used. This will act as "showing your work".
***

***
# Section: 1 - Get Ready
1A) Load the data, and get it ready for association analysis. Do this with convenient python helper methods as appropriate. Feel free to use the tools given in the example we covered. 
- Suggest: Make the data one-hot encoded.
***

Using !pip install mlxtend since mlxtend oackage was not previously loaded, but other than that all required packages and functions imported.

In [2]:
import numpy as np
import pandas as pd
!pip install mlxtend
import mlxtend as mlx
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from mlxtend.frequent_patterns import association_rules
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import fpgrowth

Requirement already satisfied: mlxtend in c:\users\nyjag\anaconda3\lib\site-packages (0.23.0)
Requirement already satisfied: numpy>=1.16.2 in c:\users\nyjag\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\nyjag\anaconda3\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\nyjag\anaconda3\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\nyjag\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\nyjag\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\nyjag\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\nyjag\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: cycler>=0.10 in c:\users\nyjag\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\nyjag\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: packaging>=20.0 in c:\users\nyjag\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\nyjag\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: pillow>=6.2.0 in c:\users\nyjag\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\nyjag\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nyjag\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\nyjag\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nyjag\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)

In [3]:
# load the aisles data
aisles_df = pd.read_csv('aisles.csv')
display(aisles_df.info())
display(aisles_df.describe())
aisles_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 2 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   aisle_id  134 non-null    int64
 1   aisle     134 non-null    object
dtypes: int64(1), object(1)
memory usage: 2.2+ KB

None

         aisle_id
count  134.000000
mean    67.500000
std     38.826537
min      1.000000
25%     34.250000
50%     67.500000
75%    100.750000
max    134.000000

   aisle_id                       aisle
0         1       prepared soups salads
1         2           specialty cheeses
2         3         energy granola bars
3         4               instant foods
4         5  marinades meat preparation

In [4]:
# load the aisles data
departments_df = pd.read_csv('departments.csv')
display(departments_df.info())
display(departments_df.describe())
departments_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 2 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   department_id  21 non-null     int64
 1   department     21 non-null     object
dtypes: int64(1), object(1)
memory usage: 464.0+ bytes

None

       department_id
count      21.000000
mean       11.000000
std         6.204837
min         1.000000
25%         6.000000
50%        11.000000
75%        16.000000
max        21.000000

   department_id department
0              1     frozen
1              2      other
2              3     bakery
3              4    produce
4              5    alcohol

In [5]:
# load the products data
products_df = pd.read_csv('products.csv')
display(products_df.info())
display(products_df.describe())
products_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 49688 entries, 0 to 49687
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   product_id     49688 non-null  int64
 1   product_name   49688 non-null  object
 2   aisle_id       49688 non-null  int64
 3   department_id  49688 non-null  int64
dtypes: int64(3), object(1)
memory usage: 1.5+ MB

None

         product_id      aisle_id  department_id
count  49688.000000  49688.000000   49688.000000
mean   24844.500000     67.769582      11.728687
std    14343.834425     38.316162       5.850410
min        1.000000      1.000000       1.000000
25%    12422.750000     35.000000       7.000000
50%    24844.500000     69.000000      13.000000
75%    37266.250000    100.000000      17.000000
max    49688.000000    134.000000      21.000000

,product_id,product_name,aisle_id,department_id
0,1,Chocolate Sandwich Cookies,61,19
1,2,All-Seasons Salt,104,13
2,3,Robust Golden Unsweetened Oolong Tea,94,7
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1
4,5,Green Chile Anytime Sauce,5,13

In [6]:
# load the orders data (some columns)
orders_df = pd.read_csv('order_products__train_teb_subset.csv', usecols=['order_id','product_id'])
display(orders_df.info())
display(orders_df.describe())
orders_df.head(5)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 163387 entries, 0 to 163386
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   order_id    163387 non-null  int64
 1   product_id  163387 non-null  int64
dtypes: int64(2)
memory usage: 2.5 MB

None

            order_id     product_id
count  163387.000000  163387.000000
mean   200333.473287   25545.946207
std    115314.521996   14125.982042
min         1.000000       1.000000
25%     99751.000000   13370.000000
50%    202141.000000   25146.000000
75%    299544.000000   37966.000000
max    399998.000000   49686.000000

   order_id  product_id
0         1       49302
1         1       11109
2         1       10246
3         1       49683
4         1       43633

Using the orders_df data we're now going to create a list of products associated with each transaction (order_id). The code is as follows, and a snippet of what it produces:

In [19]:
order_g = orders_df.groupby('order_id')['product_id'].apply(list)
order_g_df = order_g.reset_index(name='product_list')
print(order_g_df)

       order_id                                       product_list
0             1  [49302, 11109, 10246, 49683, 43633, 13176, 472...
1            36  [39612, 19660, 49235, 43086, 46620, 34497, 486...
2            38  [11913, 18159, 4461, 21616, 23622, 32433, 2884...
3            96  [20574, 30391, 40706, 25610, 27966, 24489, 39275]
4            98  [8859, 19731, 43654, 13176, 4357, 37664, 34065...
...         ...                                                ...
15466    399891                         [1999, 3376, 38293, 13829]
15467    399893  [5876, 12341, 32059, 13517, 44753, 11777, 1106...
15468    399897  [43263, 47766, 13627, 40348, 19019, 45005, 254...
15469    399958  [37766, 45007, 38739, 48104, 32666, 6371, 1979...
15470    399998  [26606, 18564, 13176, 45788, 48628, 11109, 369...

[15471 rows x 2 columns]

We are now going to proceed to performing one hot encoding on the data using the TransactionEncoder since we are using the `read the docs` method as it uses a single function to give us the encoding as opposed to hard coded function to extract 0s and 1s for column values.

In [232]:
from mlxtend.preprocessing import TransactionEncoder

te = mlx.preprocessing.TransactionEncoder()

a = [[y for y in x if pd.notna(y)] for x in order_g.tolist()]
te_array = te.fit(a).transform(a)
ohe_df= pd.DataFrame(te_array, columns=te.columns_)

In [233]:
ohe_df

,1,3,4,9,10,16,23,25,26,28,...,49667,49668,49670,49675,49676,49678,49680,49681,49683,49686
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15466,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15467,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15468,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15469,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15470,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

I chose this method for one hot coding through the `read the docs` method.

***
# Section: 2 - Explore the Data
***

***
## Section: 2.1 - Get the Order and Product Sizes
- Calculate the **number_of_orders** and **number_of_products**.
***

In [24]:
orders_df.nunique()

order_id      15471
product_id    20605
dtype: int64

The number of unique orders: 15,471

The number of unique products: 20,605

***
## Section: 2.2 - Evaluate the Itemset and Rule Size & Complexity
- Calculate the **maximum number of Itemsets** that could be created from the items (without considering the actual transaction data). Show your work.
- Calculate the **maximum number of Rules** that can be created from the items (without considering the actual transaction data). Show your work.
- What do the calculations suggest as a **potential cause of concern**? Hint: Complexity.
- What might you do to manage these concerns?
***

Now we know that d=20605 and those are the number of columns in our one hot encoding. Hence:

1. Max number of itemsets: $2^d$ or $2^{20605}$

In [32]:
2**20605

52851906295804283602258789070417165560258213296343418961398234361313116518383423073722705959886532145416470958963103782084179098192918375669422518172365191776905095944250677275698558247666321088332979786979262045366184708381870290323225741106584001522000061797027529057208419850552548557124227293040402511270034581776031803947408983064463924318992906969079556236381798495206453062189226701046539324067264661585859718978480250552076953190214339795884967194695970870418525253204981022616785096836538691254030112527582561795815733706242765708220881710196052145406830550892962717585587948755578485731240918207115711717074000367954528676298208173381578810481118453482896160505151947845918456621020346118650701773975710232564235627502259429307075114137121598901106701110172009314452490443793565257458867361718644821546242301685493403948484627994921469633956342171464081953777652027069333037847890327961489249678752678041489964623480260034912785349475637792269665810733845864533411772961778452256898376986665812009935870013914035699953985339176962122966394442699569096282705789225128470340099405081396429095854822813178471141650487559979642773260535928162290217951987566779092181503909393306579574489506076646750713268003444448575939051694188652700041724961189766569277089295648043058914848890192586677921041397533631115181925435470302406202123111028921828370070115564109886503145512061074963464443260663775763093495482308558835512288103537835536380693200703114000343562938709860223540622403235745118162357542796684567695921606024036704819991758396374801855237406938943602514194422317077306089522798276124109571451950181651268910665861025123750022450714771194831813082255397623775094950550469853434628313125914651349349205253650926980041428237087399506143092823569439972069780139315999397886318162116545127470208700138754229312273975202976729612509358939015063337825186851248618590996624282663260593133941964814853058415877792787793387897322918013896117448935116302936938911352581106558851046618621737042078405501775754910480610082567486291441152813976555912369990059827561587086700463114039693117905814183412771401174354620929189967244015242723620434038789618456514393543221685373489856475692605894862793285694560330879424596965122845524086161099644482566626060688764479453106499878860267942652226541753390188266454751760317229279435556437909872192914142905824484888806881153965339891521430459701770406382649417183366914506913877844719361810703301653187783489347841332466304312243900922292137323976515012910980576158901175727470857464318094801237730597491282605280120647384547596951480939012597880140242592923507945219000489908383202408296238800345419578959289471268781179965130707703773047803521883372814212677074831330470989526638495657238720107732118315511324701848172005900223105472403005973063136631652227021334010391925588591340693963848582215784738571352574258779617399217153977357010527091496586371683312916461029907590766146482652736189221821909964586320481117521959861251574760524019700312522532601061360511290166857772135448833145642100756791610112188265707791714635185246336913311180874013450959446300172601438195704965378135372902098411741789848946261935410598872230292746807100761868874389382078751081075038745630446636273893236715112211837295761603026529179471654825992108828736220240533636267449305486173927521014408750245289172589209558754732948819157866978554166750632658055671449625658854696247944638865124962870095714087566738453535484631758194357508147126477142043384417278211841522607620047710965301993434861442197910950289385313048507199305232827339620779629119462031868290085897348503774063594080409622759927537408877374510407399468706236726940216144460718243747359616366361053359712279792352286857853376193144512631737715715244849833929151459321834588216166289620814365660133215515710015893515660799655066791093877373431914661896583369986487762046888735174813662562978011739142009879624996918361855255678435153467952601714829931611538542400560960722753871469967485886145344883930598281037776972300625515012540121574773092360094646205097441189571497018982743009115973642829737800991658550373364505391838436714075280513840961648978794331246218676784566353915450026558663756954184476490790152480233786444745544271676246943039446529503906851057688919807200408031195561387152275070407468717693182344828916394559820515383502132345105796389749579972305833941207687981485173560900696928726868167006457873288742282126597816481783726358744327395485083308563040434900499950827456499875728843255393684818830115116134129911745391479445511706566453287158660722794265387461607518041654164679669115211644308824625478581400471634009250911574698331065018991053004047333228929743121906939385016083813876635729572860513402210234469349805914460259153630337123731636399837965360318031764430500607496384280266862286249778299205971912449162006710057989603849712658178954436194669799299889782875691487693038229689879340364816477578769897207410216888080359863724457009420593342186764118000744348602303885967232816455043543979848822013355904049666485442858226911628305937259044918973701760594599321768069296814846217839665389836185545185889701502258788482524799255371100431244946795916138721518944591430754065815038475728253001476562528411207716225354336007584713020749289798619658483684857032812316527808513018308986010749912885189154054622541275019530635318045820467038328767518679310487590768041969986031745161060727022599994998414025232502869211814831345885494911258785529831741560128857724034853999809694251790561141341893351974591793771055782247050502149626856034107472883939412741406545448827996639504813514797686535331661051233491396469772697196596967564558786247813911232901293850282601875715851657572081245913596434816565342672497357562055950527353483773581577085838071899301695913328044996896778933073074304392235490843554173130974418842044823551546987608364167951561444380348607213636527314905598783682276345147242937464755065089339917335452422917584813305428075335832067997207218368022237107910046656147441237983601409173561141392403415134588837000400865763612611991052529314719045992103216147756646720200881884130279531046240803334338077934204952185154553464141576037970509628115620062410972332032

2. Maximum number of Rules= $3^d + 2^{d+1}+1$ or $3^{20605}+2^{20605+1}+1$

In [33]:
3**(20605)+2**(20605)+1

1211862923631624199715235226233686947067242130294397953837127929416091776266605438056391202703388413558516177137631642038638127524379573998406887557572417651735985894019673659252492330311694147517103020701855110461664227724391999671461536017772228738974043137828983170891993801943522810573941038628133411579066565795642315875887247046952159560600652923432305747908836333054877456326325326122034020808729500743730305896916501741481605197818749720406259723181538685961927923859782823931182543070239654959806765141638743755581724951465447763281710010663694010472715476568317857605551671365521627939672503103299503623625912608399648091361282332180752478450329223591303167306493634807324404657403531251758234810475374974635806465999540759857274935764319793813649776304744280056633593830136032118448726810928006018554235013950941762992673210803071154283909612598388736589759541774965405412278595680920238211800504708262581396098047715357602069248068203715775511634427763324984923862659545442982182148280658235238636783960086762705130106296671405138018860615037263605100805763294455610412362775907150521910840253668897008775257636838073209390141508844548182487532689261247943917420917816095500977972671221371080543449657446988136245287099926208714374553579043199529459170892739684422469824371070114972374187476615300630002573984526977259812805168326030172527810965085162984367593210134430038601016015876582711025780179848356267523658232517989289955862655044461616971354886042466526682878951891182007356122987493145100290449557853497374087514325057384792212112968372883845831901950404374499737746941866276336992039934917381075068801798244270419916789900898520088842361190797898629398185658451170720258146508586024020471987566115653718285438769428919818019783300892922234615914109845616895920445160185568732311179526889098032728461309113391250056636881378635651570911651614037386602510747223464680685107927751540884701740290689445128559453107787579304016486835915459746881865610522652068094675881349295949004580159823108276899223804501011181633732175518048298789693999581323686507635129759071587021200274835831941777432965259408203811431138960725511803399427895222487267818124215079051089782581088069621945244607104535421646500480444351620938555967890087198708746393656626774277019357372456253427479446953447348839540648671804868148288075500563255730869235471931408033403239777942312200431503654652533161921215300253529053918976499033942389245130905822997539225268724142750346043013796335390158156601514424730458570243106925038492286213303841806189114866346313107353102342080932298331602827004315817100823869997449389986189249716373189007929611856300865600270737113062971867699885959441821344168618633772480871275204383132431203321652779704017546121313173961095620343861873515585884405039950674442068327099798213449166725143790629754437612347340824631695424890790333524013544880380904089116162899838499580904963884362378428597816377156503899049024401777009536618179622873802601836846597911328559701563412599686283307280650442808618170519994767481554942020980512193962843259417352747216507434774700053348214975508969915724309689429656485989099110613166275238801459584458408293897472021055730290667829326186820197471733660823789515181021480235270841735630814293419926186003163026967362905557475266244914015684077172460070463881403292918999557964116362415056045733058851052870048717305405259236785308710171231164866787089354911404663787243107966964883653063248452162123721552830219821798939249378736563683628426090833410711243953524591093788802315045880567215267934488721112353175658146217407940883394081968419927539094397762074122976946573904319660311660854552716810263878768295413725632937674850960449068685551787042153707813246478924147908835038674762670858449659933204041466145861276156356026933617172725745770144799498682215577117597066059797796047570657088800827588543009004581737511741172645448116328552417447940517516032127567925021688336291543343745693016537332961926400199613364000584835017913396543437163861784863617001807246144845595196730480285779238406007034775496722342755887665240308394505522103626840326905048669167894237383576461137820721474018964550955669478488566570240990739271703419093330837341516485382331748924745571270701224410822441839344488371747297133849088068338196440618063227016385378678886580988007327566134511270496282085590939130142590511992827791883851956970204570467965310456451230394501340408806805812482342814994092423903230509829757606622673731351240341288586532427725080439105414544840430660395711766379888613833600772040344173330939774005469789620833396947866751457861826051602891683650881240381274172714086137496588377219937949268167552801860352970556480829278946655731927362568054241645242537668289738992774150832034049023890379742501464480652289439920523999016827907611590923650132328912732191786922787674827286606413811808498685571113747366069270235845760195097169581134814788501425057581579640211079172657271204908136289010547624409301403771962036849566511605174426999714310506796386886670099151410885379791485296128389350950560777683180622000125567863761250715579019889769419531352540404340323367696682736432610973875903706719017437028936723269897418970103567718332614349540123189784548728406000826954051456790115081426314394857732277609453755019990467815023410425522022828021216172304136214516802291341687249049164064589635108760355434531439507860325790891202377562739061460385178504529722214272262833948230333665560965461306641543004610075242912527997344599965717543040221031966118333114637540707478354012264760926475307630348610970696708075147734264760578960232837028880762932169699803196676968943139686385497189402498599325812219626538618972740539097261294288263135443472846789839695386808823780715972048678869341556276042114910993012633789431973929607714093967191012645393695486914047780502827088521978220735391319371392200394674453738452968107161639756294307438476747972141798661078144093347745295755188842442749186874181994131399265409227498783176135815462702303948752166447298205839976723615598411586335078408295238090801584694461037802750487880550505766395121850218768449919922507925174598408260783359845936881400476561262130314902119309095208656072321695640783849690245381600440970853515391889713688060451932874626960473149561885613873286367700102190107466481719354829079335633549947094872382363055799773007965628316573479964102068734799904807029792948450162786089523157539957228279711142896307619115490106029374826870728789258612422963602022126021186841422860575550255272527319030474650794556011403977351791002750975769383765254620124443506044646649503392485780861753348287692197252647216322116242939517293585835465266284569268386682123533220396858626773743963836147266265729594200301428283238624262152955617246955362866686404242747485651281582765828122209781887145810067058955232046825027888467232359010540456784867683168004563213987323680670039236823050450806016795387377564030649522457813202149338294712174067569746732865355171401076815507423952551995599907846462423709384172127676617852995804395363860939971202095327732225685390842576477549379260233704215736409302262660251067783770695879479702897226577304264939182329763023662181384584114955071252726666655420220297863519618674260375587685886149669021781676681816957342276403340478902223963154326130772778457291153739069966602120238958814979782410756145236797148706392264076755680522409995885815657610025105355204234279290047637407752056848370995655048990394826333129710048087950429810140548071859489988225261616386937592455153190792795875650260315022159517730591991231766533056815808985652777210112125527740682010667701078884967408132789180141576072570830820770451371502171284024293220052811571621333225177043881413441330665628402109388346902387245148167569687556078708095004359100794865646368131489263103483409108121276028385093856675106780850160845731274936629599089002037775305521062252175931159074034070300489562117213477735825365493573419660801877514591384905388525996387819277459635334291054786703621504124516758009972260280372108252300697273756844216004514222105765136881344359632338259327054671065425995123653936090612393171293303066116148088706221677060821600585549429504442273898277949819676153159341531299113564869481682935523061503799661493047220221031813555291293646159788670375969958126774713803842497855756855278512851362464673213857980073428595332957212419258768389489758942816916857814692072387175123477030036894144910604642160388939324883051164446294023385359713933624259449898356196069947472484105256692180361686999361969789487656996881627040023926330240750138754004392643927257658518878024260961917436034655468446704756678212413699101223350533947000045942787268976268071134143577051693828101227731743987358463765597430171132019459259997594691024943600232135154331617256445809171579209847585958629332556560126765814110440345527592320073718990812125771930482241695855046022933922871462895271342817125127403394664315236320970543588307113813495167031183032448565105125435238084988504634704459454534633086816290259669748471340769984529657974485596291903174369563465626307403388532072358996143138743056733011139019289131972681664425746372309618245532871077911483720975666082645336659597246558462824825775831427284252631469471412496846202198587050872364918218377747808814854485525921871188768879455686454070596049093661715493290457380041832018079745652839819591557411027387044130411300951735014268353287237004000510120130521152521682205619404403090200338269798862402022987982459297572028074373687569172326946736773260291133987260075825446098711162987936343190421453190039573910327031257869498815486000519991278499182613036165509284274316917562356882052119658200121220062422223237278610670488995832804490376794900918548654466829355720801117330259444659052917713138241191287280115253509722608638584474421034466688608276

***
# Section: 3 - Itemset Generation
***

***
## Section: 3.1 - Revise the Dataset
- If/as appropriate, trim or revise the dataset to make the runtime reasonable.
- Show the results, briefly.
- Explain what you did and why you did it.
***

In [345]:
rows = ohe_df.sample(frac =.25)
rows

,1,3,4,9,10,16,23,25,26,28,...,49667,49668,49670,49675,49676,49678,49680,49681,49683,49686
11838,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15332,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2956,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
15039,False,False,False,False,False,False,False,False,False,True,...,False,False,False,False,False,False,False,False,False,False
15298,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
432,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
232,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
241,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3347,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4044,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

I'm randomly sampling the data and taking 25% of the data at random.. The reason for doing that is that sampling creates an unbiased subset of the data, making sure that there are no inherent preferences or support that the rows can carry. Taking 25% or 3868 rows of the data significantly reduces the runtime. 

However, I will continue to use the inital data set and the one hot encoding it produced since to determine `AOTM` I need the right amount of transactions and for rules generation precision is very important. Due to lack of enough records we cannot make the wrong aisle, the `AOTM` as that may result in revenue loss.

***
## Section: 3.2 - Create Two-Itemsets
- Create a set of about 50 to 100 two-item sets with highest support. Sort them in decreasing order of support.
- Show the results, briefly.
- Explain what you did and why you did it.
***

We are not setting `min_support` of 0.05 as we do not observe a high number of itemset generation for such a high support. For this dataset itemset geenration is more abundant when the support threshold is reduced. Hence, I chose 0.0065 as the `min_support` to have enough itemsets to observe and analyse 2 item itemsets further.

In [234]:
# Extracting the most frequest itemsets via Mlxtend.
# The length column has been added to increase ease of filtering.
frequent_itemsets1 = apriori(ohe_df, min_support=0.0065, use_colnames=True)
frequent_itemsets1['length'] = frequent_itemsets1['itemsets'].apply(lambda x: len(x))
# printing the frequent itemset
frequent_itemsets1

      support        itemsets  length
0    0.011764           (196)       1
1    0.009631           (260)       1
2    0.010148           (432)       1
3    0.007110          (1940)       1
4    0.007239          (2086)       1
..        ...             ...     ...
229  0.007433  (26209, 31717)       2
230  0.011958  (26209, 47626)       2
231  0.008661  (26209, 47766)       2
232  0.007045  (47209, 27966)       2
233  0.010794  (47626, 47766)       2

[234 rows x 3 columns]

Now let's apply a condition for 2 items in the itemsets and look at the itemsets generated. We are able to do that by applying a length equality condition for the `itemset` column in the dataframe that contains all possible itemsets with support higher than the minimum support.

In [182]:
frequent_itemsets2 = apriori(ohe_df, min_support=0.0065, use_colnames=True)
frequent_itemsets2 = frequent_itemsets2[frequent_itemsets2['itemsets'].apply(lambda x: len(x) == 2)]

The folowing is a set of about 52 two-item itemsets with highest support, that are sorted in decreasing order of support.

In [183]:
filtered_df = pd.DataFrame(frequent_itemsets2)
df = filtered_df.sort_values(by='support', ascending=False)
df

      support        itemsets
188  0.025338  (13176, 21137)
200  0.018292  (13176, 47209)
227  0.018292  (24852, 47766)
189  0.017517  (13176, 21903)
205  0.015771  (21137, 24852)
213  0.015254  (24852, 21903)
194  0.014608  (13176, 27966)
226  0.014543  (47626, 24852)
203  0.014220  (24852, 16797)
230  0.011958  (26209, 47626)
204  0.011635  (21137, 21903)
207  0.011311  (21137, 27966)
233  0.010794  (47626, 47766)
218  0.010600  (47626, 21903)
210  0.010407  (21137, 47209)
225  0.010148  (45066, 24852)
219  0.010019  (47766, 21903)
195  0.009954  (13176, 30391)
217  0.009696  (47209, 21903)
209  0.009502  (21137, 39275)
201  0.009502  (13176, 47626)
220  0.009372  (26209, 24852)
197  0.009049  (13176, 39275)
193  0.008985  (13176, 27845)
221  0.008920  (24852, 27845)
183  0.008791   (4920, 24852)
231  0.008661  (26209, 47766)
214  0.008661  (26209, 21903)
212  0.008532  (21137, 47766)
206  0.008467  (21137, 27845)
184  0.008467   (13176, 5876)
202  0.008338  (13176, 47766)
223  0.008209  (28204, 24852)
182  0.008015   (24852, 4605)
187  0.008015  (13176, 19057)
208  0.007886  (21137, 30391)
192  0.007886  (13176, 26209)
222  0.007756  (24852, 27966)
190  0.007563  (13176, 22935)
229  0.007433  (26209, 31717)
211  0.007369  (21137, 47626)
199  0.007304  (13176, 45007)
232  0.007045  (47209, 27966)
198  0.006916  (13176, 40706)
191  0.006852  (13176, 24964)
215  0.006852  (30391, 21903)
224  0.006852  (40706, 24852)
185  0.006787   (8424, 24852)
186  0.006593   (47626, 8518)
228  0.006528  (49683, 24852)
196  0.006528  (13176, 37646)
216  0.006528  (45007, 21903)

1. Itemset with highest support = (13176, 21137)
2. Itemset with lowest support = (45007, 21903)

***
# Section: 4 - Generate Rules
- For the two-itemsets created above, create the related rules.
***

Now, we will be using the first itemset we created that had a mix of both 1 and 2 items in the itemset as the `association_rules` function inherently chooses itemsets that have 2 items in their itemset to avoid any code breaking errors that may be caused by a filtered dataset.

In [314]:
from mlxtend.frequent_patterns import association_rules
rules_ap = association_rules(frequent_itemsets1, metric="confidence", min_threshold=0.05)
rules_ap

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(24852),(4605),0.140392,0.026566,0.008015,0.057090,2.149010,0.004285,1.032373,0.621992
1,(4605),(24852),0.026566,0.140392,0.008015,0.301703,2.149010,0.004285,1.231007,0.549261
2,(4920),(24852),0.030832,0.140392,0.008791,0.285115,2.030856,0.004462,1.202443,0.523745
3,(24852),(4920),0.140392,0.030832,0.008791,0.062615,2.030856,0.004462,1.033906,0.590498
4,(13176),(5876),0.119320,0.027600,0.008467,0.070964,2.571166,0.005174,1.046677,0.693863
...,...,...,...,...,...,...,...,...,...,...
96,(47766),(26209),0.058690,0.045117,0.008661,0.147577,3.271010,0.006013,1.120199,0.737573
97,(47209),(27966),0.055394,0.040915,0.007045,0.127188,3.108568,0.004779,1.098844,0.718086
98,(27966),(47209),0.040915,0.055394,0.007045,0.172196,3.108568,0.004779,1.141099,0.707246
99,(47626),(47766),0.061664,0.058690,0.010794,0.175052,2.982639,0.007175,1.141054,0.708410
100,(47766),(47626),0.058690,0.061664,0.010794,0.183921,2.982639,0.007175,1.149810,0.706172

Let's filter these rules for the ones that have highest support and a high level of confidence to observe persistent `consequents` and `antecedents`.

In [315]:
rules = rules_ap

In [317]:
def frozenset_to_int(fs):
    return sum(map(int, fs))

rules['antecedents'] = rules['antecedents'].apply(frozenset_to_int)

In [318]:
def frozenset_to_int(fs):
    return sum(map(int, fs))

rules['consequents'] = rules['consequents'].apply(frozenset_to_int)

***
# Section: 5 - Rule Evaluation
- For the rules created above, find the **Aisle of the Month** and the **set of Products** (that would be given the discount) that would cause the greatest increase in monthly store revenue.
  - This is based on the Business Problem stated at the top of this notebook.
  - Consider:
    - How much will the store's monthly revenue decrease (or increase) due to the change in price for the chosen Products (and its increased sales)?
    - How much will the store's monthly revenue increase (or decrease) due to the increased sales of the associated Products?
***

In [321]:
# Filter the DataFrame based on the list of values
product = products_df[products_df['product_id'].isin(rules['antecedents'])]
product

,product_id,product_name,aisle_id,department_id
4604,4605,Yellow Onions,83,4
4919,4920,Seedless Red Grapes,123,4
5875,5876,Organic Lemon,24,4
8423,8424,Broccoli Crown,83,4
8517,8518,Organic Red Onion,83,4
13175,13176,Bag of Organic Bananas,24,4
16796,16797,Strawberries,24,4
19056,19057,Organic Large Extra Fancy Fuji Apple,24,4
21136,21137,Organic Strawberries,24,4
21902,21903,Organic Baby Spinach,123,4
22934,22935,Organic Yellow Onion,83,4
24851,24852,Banana,24,4
24963,24964,Organic Garlic,83,4
26208,26209,Limes,24,4
27844,27845,Organic Whole Milk,84,16
27965,27966,Organic Raspberries,123,4
28203,28204,Organic Fuji Apple,24,4
30390,30391,Organic Cucumber,83,4
31716,31717,Organic Cilantro,16,4
37645,37646,Organic Gala Apples,24,4
39274,39275,Organic Blueberries,123,4
40705,40706,Organic Grape Tomatoes,123,4
45006,45007,Organic Zucchini,83,4
45065,45066,Honeycrisp Apple,24,4
47208,47209,Organic Hass Avocado,24,4
47625,47626,Large Lemon,24,4
47765,47766,Organic Avocado,24,4
49682,49683,Cucumber Kirby,83,4

From this we can see that the AOTM for this subset would be `24`, `16`, `83` or `123`.

Our focus though is to see which antecedent does not produce a consequent in the same aisle id, because then we would have to discount both the items. Hence let's see when the rules and products data seta are merged on product id where the aisle id is not the same.

In [330]:
merge_df = pd.merge(rules, products_df, left_on='antecedents', right_on='product_id')
merge_df

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric,product_id,product_name,aisle_id,department_id
0,24852,4605,0.140392,0.026566,0.008015,0.057090,2.149010,0.004285,1.032373,0.621992,24852,Banana,24,4
1,24852,4920,0.140392,0.030832,0.008791,0.062615,2.030856,0.004462,1.033906,0.590498,24852,Banana,24,4
2,24852,16797,0.140392,0.048349,0.014220,0.101289,2.094979,0.007432,1.058907,0.608031,24852,Banana,24,4
3,24852,21137,0.140392,0.083446,0.015771,0.112339,1.346239,0.004056,1.032549,0.299194,24852,Banana,24,4
4,24852,21903,0.140392,0.074462,0.015254,0.108656,1.459211,0.004801,1.038362,0.366095,24852,Banana,24,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,16797,24852,0.048349,0.140392,0.014220,0.294118,2.094979,0.007432,1.217778,0.549222,16797,Strawberries,24,4
97,28204,24852,0.024110,0.140392,0.008209,0.340483,2.425233,0.004824,1.303390,0.602187,28204,Organic Fuji Apple,24,4
98,45066,24852,0.028699,0.140392,0.010148,0.353604,2.518693,0.006119,1.329847,0.620784,45066,Honeycrisp Apple,24,4
99,49683,24852,0.019133,0.140392,0.006528,0.341216,2.430459,0.003842,1.304841,0.600035,49683,Cucumber Kirby,83,4
100,31717,26209,0.027212,0.045117,0.007433,0.273159,6.054506,0.006206,1.313745,0.858187,31717,Organic Cilantro,16,4

In [324]:
merge_df2 = pd.merge(rules, products_df, left_on='consequents', right_on='product_id')
merge_df2

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric,product_id,product_name,aisle_id,department_id
0,24852,4605,0.140392,0.026566,0.008015,0.057090,2.149010,0.004285,1.032373,0.621992,4605,Yellow Onions,83,4
1,4605,24852,0.026566,0.140392,0.008015,0.301703,2.149010,0.004285,1.231007,0.549261,24852,Banana,24,4
2,4920,24852,0.030832,0.140392,0.008791,0.285115,2.030856,0.004462,1.202443,0.523745,24852,Banana,24,4
3,8424,24852,0.023205,0.140392,0.006787,0.292479,2.083308,0.003529,1.214958,0.532347,24852,Banana,24,4
4,16797,24852,0.048349,0.140392,0.014220,0.294118,2.094979,0.007432,1.217778,0.549222,24852,Banana,24,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96,47626,47766,0.061664,0.058690,0.010794,0.175052,2.982639,0.007175,1.141054,0.708410,47766,Organic Avocado,24,4
97,24852,16797,0.140392,0.048349,0.014220,0.101289,2.094979,0.007432,1.058907,0.608031,16797,Strawberries,24,4
98,24852,28204,0.140392,0.024110,0.008209,0.058471,2.425233,0.004824,1.036496,0.683647,28204,Organic Fuji Apple,24,4
99,24852,45066,0.140392,0.028699,0.010148,0.072284,2.518693,0.006119,1.046981,0.701446,45066,Honeycrisp Apple,24,4
100,26209,31717,0.045117,0.027212,0.007433,0.164756,6.054506,0.006206,1.164676,0.874278,31717,Organic Cilantro,16,4

Now we need to focus on the antecedents that do not produce consequents in the same aisle, for that we will take the first merged dataframe and see the rows that do not have a consequent(merge_df2) in the same aisle id as the antecedent(merge_df).

In [333]:
mval = merge_df[merge_df['aisle_id'] != merge_df2['aisle_id']]
mval

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric,product_id,product_name,aisle_id,department_id
0,24852,4605,0.140392,0.026566,0.008015,0.057090,2.149010,0.004285,1.032373,0.621992,24852,Banana,24,4
12,4605,24852,0.026566,0.140392,0.008015,0.301703,2.149010,0.004285,1.231007,0.549261,4605,Yellow Onions,83,4
13,4920,24852,0.030832,0.140392,0.008791,0.285115,2.030856,0.004462,1.202443,0.523745,4920,Seedless Red Grapes,123,4
16,13176,21137,0.119320,0.083446,0.025338,0.212351,2.544758,0.015381,1.163657,0.689280,13176,Bag of Organic Bananas,24,4
32,8424,24852,0.023205,0.140392,0.006787,0.292479,2.083308,0.003529,1.214958,0.532347,8424,Broccoli Crown,83,4
35,47626,21137,0.061664,0.083446,0.007369,0.119497,1.432018,0.002223,1.040943,0.321511,47626,Large Lemon,24,4
40,8518,47626,0.031608,0.061664,0.006593,0.208589,3.382683,0.004644,1.185650,0.727367,8518,Organic Red Onion,83,4
52,21903,13176,0.074462,0.119320,0.017517,0.235243,1.971531,0.008632,1.151582,0.532425,21903,Organic Baby Spinach,123,4
53,21903,21137,0.074462,0.083446,0.011635,0.156250,1.872458,0.005421,1.086286,0.503429,21903,Organic Baby Spinach,123,4
61,22935,13176,0.032706,0.119320,0.007563,0.231225,1.937858,0.003660,1.145563,0.500330,22935,Organic Yellow Onion,83,4
62,24964,13176,0.031349,0.119320,0.006852,0.218557,1.831685,0.003111,1.126992,0.468749,24964,Organic Garlic,83,4
63,26209,13176,0.045117,0.119320,0.007886,0.174785,1.464843,0.002502,1.067213,0.332326,26209,Limes,24,4
64,26209,21903,0.045117,0.074462,0.008661,0.191977,2.578192,0.005302,1.145435,0.641054,26209,Limes,24,4
69,27845,13176,0.038459,0.119320,0.008985,0.233613,1.957873,0.004396,1.149133,0.508810,27845,Organic Whole Milk,84,16
70,27845,21137,0.038459,0.083446,0.008467,0.220168,2.638435,0.005258,1.175322,0.645825,27845,Organic Whole Milk,84,16
72,27966,13176,0.040915,0.119320,0.014608,0.357030,2.992206,0.009726,1.369706,0.694202,27966,Organic Raspberries,123,4
73,27966,21137,0.040915,0.083446,0.011311,0.276461,3.313038,0.007897,1.266765,0.727946,27966,Organic Raspberries,123,4
76,30391,13176,0.035421,0.119320,0.009954,0.281022,2.355195,0.005728,1.224905,0.596537,30391,Organic Cucumber,83,4
77,30391,21137,0.035421,0.083446,0.007886,0.222628,2.667911,0.004930,1.179041,0.648133,30391,Organic Cucumber,83,4
79,37646,13176,0.024045,0.119320,0.006528,0.271505,2.275439,0.003659,1.208904,0.574334,37646,Organic Gala Apples,24,4
80,39275,13176,0.035033,0.119320,0.009049,0.258303,2.164788,0.004869,1.187384,0.557595,39275,Organic Blueberries,123,4
81,39275,21137,0.035033,0.083446,0.009502,0.271218,3.250201,0.006578,1.257651,0.717462,39275,Organic Blueberries,123,4
84,45007,13176,0.033870,0.119320,0.007304,0.215649,1.807315,0.003263,1.122813,0.462353,45007,Organic Zucchini,83,4
86,47209,13176,0.055394,0.119320,0.018292,0.330222,2.767530,0.011683,1.314883,0.676120,47209,Organic Hass Avocado,24,4
99,49683,24852,0.019133,0.140392,0.006528,0.341216,2.430459,0.003842,1.304841,0.600035,49683,Cucumber Kirby,83,4

From the two tables above we can see that `16` was the only aisle id for which the associated product as an antecedent produces a consequent in the same aisle. So it would not make sense to consider `16` to be the aisle of the month. Let's focus our attention to aisles `24`, `83`, and `123`.

Let's calculate the revenue that purchases in a particular aisle would bring, for that we will see how many products were sold under each aisle, discount those products by 10% and as a result there would be 5% increases in the total products bought in that aisle. 

Formula used: (1-.01(1))x#of products sold + 0.05(#of products sold)x$0.9 

(10% decrease in price evalutes to 0.9 dollars for each product, and there's a 5% growth in no. of purchases)


For aisle `83` the revenue difference would be:

In [347]:
merged_df = pd.merge(orders_df, products_df, left_on='product_id', right_on='product_id')
#merged_df
v=merged_df[merged_df['aisle_id']==83]
print(v)
revenue83 = 0.9*(18021)+0.05*(18021)*0.9
revenuediff = revenue83-18021
revenuediff

        order_id  product_id                       product_name  aisle_id  \
19             1       10246              Organic Celery Hearts        83
20          2869       10246              Organic Celery Hearts        83
21          3378       10246              Organic Celery Hearts        83
22         14119       10246              Organic Celery Hearts        83
23         17152       10246              Organic Celery Hearts        83
...          ...         ...                                ...       ...
162595    362789       43724                            Lettuce        83
162724    368295        3699    Chard, Green, New England Grown        83
162874    374148        8175         Baby Bella Whole Mushrooms        83
163168    388808       45283                 Jumbo White Onions        83
163203    390368        5163  Premium Super Sweet Corn Bi-Color        83

        department_id
19                  4
20                  4
21                  4
22                  4
23                  4
...               ...
162595              4
162724              4
162874              4
163168              4
163203              4

[18021 rows x 5 columns]

-991.1549999999988

Now, let's calculate the revenue difference for aisle `123`:

In [349]:
v=merged_df[merged_df['aisle_id']==123]
print(v)
revenue123 = 0.9*(9376)+0.05*(9376)*0.9
revenuediff = revenue123-9376
revenuediff

        order_id  product_id                   product_name  aisle_id  \
4032          36       43086             Super Greens Salad       123
4033        3533       43086             Super Greens Salad       123
4034        7697       43086             Super Greens Salad       123
4035       24565       43086             Super Greens Salad       123
4036       27104       43086             Super Greens Salad       123
...          ...         ...                            ...       ...
163178    389017       31855  Peeled and Steamed Fava Beans       123
163214    391219         740                   Celery Heart       123
163306    395016        6295                Serrano Peppers       123
163327    396232       43206          Apple Bites Multipack       123
163352    398058       13616        Steam Fingerling Potato       123

        department_id
4032                4
4033                4
4034                4
4035                4
4036                4
...               ...
163178              4
163214              4
163306              4
163327              4
163352              4

[9376 rows x 5 columns]

-515.6800000000003

Let's take a look at it for aisle `24`:

In [350]:
v=merged_df[merged_df['aisle_id']==24]
print(v)
revenue83 = 0.9*(17759)+0.05*(17759)*0.9
revenuediff=revenue83-17759
revenuediff

        order_id  product_id                product_name  aisle_id  \
452            1       13176      Bag of Organic Bananas        24
453           98       13176      Bag of Organic Bananas        24
454          170       13176      Bag of Organic Bananas        24
455         1077       13176      Bag of Organic Bananas        24
456         1325       13176      Bag of Organic Bananas        24
...          ...         ...                         ...       ...
162590    362709       16677   USA Florida Juice Oranges        24
162672    365869       41584                 Cantaloupes        24
162713    367487       20601  Organic Young Thai Coconut        24
163183    389147       10360                Dragon Fruit        24
163296    394810       42411               Young Coconut        24

        department_id
452                 4
453                 4
454                 4
455                 4
456                 4
...               ...
162590              4
162672              4
162713              4
163183              4
163296              4

[17759 rows x 5 columns]

-976.744999999999

From this we can see that the biggest loss is incurred by discounting aisle 24 with a difference of $976.74 after discounting the aisle and observing growth.

We are also interested in calculating how many purchases an antecedent from a particular aisle produces as one purchase of the antecedent produces one purchase in the consequent according to our rules, **we are already using the dataframe where antecedent aisle id is not equal to the aisle id of the consequent.**

In [339]:
# Filter the DataFrame based on the list of values
product = merged_df[merged_df['product_id'].isin(mval['antecedents'])]
v=product[product['aisle_id']==83]
value_counts = v['product_id'].value_counts()
value_counts

30391    548
45007    524
22935    506
8518     489
24964    485
4605     411
8424     359
49683    296
Name: product_id, dtype: int64

In [340]:
# Filter the DataFrame based on the list of values
product = merged_df[merged_df['product_id'].isin(mval['antecedents'])]
v=product[product['aisle_id']==123]
value_counts = v['product_id'].value_counts()
value_counts

21903    1152
27966     633
39275     542
4920      477
Name: product_id, dtype: int64

In [341]:
# Filter the DataFrame based on the list of values
product = merged_df[merged_df['product_id'].isin(mval['antecedents'])]
v=product[product['aisle_id']==24]
value_counts = v['product_id'].value_counts()
value_counts

24852    2172
13176    1846
47626     954
47209     857
26209     698
37646     372
Name: product_id, dtype: int64

From our rules we know that if the antecedent (1 unit) is sold the consequent (1 unit) will be purchased. But we will also account for the fact that discounting by 10% increased the products sold in that aisle by 5% hence, there will also be a 5% increase in these consequent products bought. 


For example this means that 548 orders are placed for product id 30391 which is aisle 83 which according to our rules gaurantees a purchase in aisle 24 hence, revenue incurred from purchasing product 30391 is 548 purchases of aisle 24 items = 548x1 = $548

**Total for aisle 83:**


| Id | # of units | Revenue | 
|---|---|---|
| 30391| 548 | 548 |
| 45007 | 524  | 524 |
| 22935 | 506 | 506 |
| 8518 | 489  | 489 |
| 24964| 485 | 485 |
| 4605 | 411  | 411 |
| 8424 | 359 | 359 |
| 49683 | 296  | 296 |


Total incremental revenue for AOTM 83 = (548 +524 + 506 + 489 + 485 + 411 + 359 + 296)(1.05) -991.154 = $2,807.75

**Total for aisle 123:**

| Id | # of units | Revenue | 
|---|---|---|
| 21903 | 1152 | 1152 |
| 27966 | 633  | 633 |
| 39275 | 542 | 542 |
| 4920 | 477  | 477 |

Total for AOTM 123 = (1152+633+542+477)(1.05)-515.68 = $2,428.52

**Total for aisle 24:**

| Id | # of units | Revenue | 
|---|---|---|
| 24852 | 2172 | 2172 |
| 13176 | 1846  | 1846 |
| 47626 | 954 | 954 |
| 47209 | 857  | 857 |
| 26209| 698 | 698 |
| 37646 | 372  | 372 |

Total for AOTM 24 = (2172+1846+954+857+857+698+372)(1.05) -976.74= $7167.06

From the above totals, **the highest revenue bringing aisle with not only high in aisle purchases (16,782.255 dollars) but also resulting in purchasing in other aisles ($8,143.8) is `aisle 24`. The highest incremental revenue across all asiles is alsi in aisle 24. Hence, from these consideration we can decide that the `AOTM` should be `aisle 24`.**

***
# Section: 6 - Conclusions
- Write a paragraph on what you discovered or learned from this homework.
***

In my exploration of association analysis through a homework assignment in Python, I delved into the application of the market basket method, specifically employing the Apriori algorithm. This method enables the identification of frequent itemsets in a dataset, revealing patterns of co-occurring items. Through the implementation of the Apriori algorithm, I learned to extract meaningful associations between items in a transactional dataset, emphasizing the importance of support, confidence, and lift as key metrics. The process involved the generation of itemsets meeting predefined support thresholds, subsequent rule creation, and evaluation of the association rules. 

The homework provided valuable insights into parameter tuning for optimal results and highlighted the significance of adjusting the minimum support and confidence levels based on the specific characteristics of the dataset. Additionally, the iterative nature of the Apriori algorithm became apparent, demonstrating its efficiency in progressively identifying frequent itemsets of varying lengths. Overall, this exercise equipped me with a practical understanding of association analysis techniques, empowering me to uncover meaningful connections within transactional data using Python.

***
### END-OF-SUBMISSION
***